## Part One

The Elves quickly load you into a spacecraft and prepare to launch.

At the first Go / No Go poll, every Elf is Go until the Fuel Counter-Upper. They haven't determined the amount of fuel required yet.

Fuel required to launch a given module is based on its mass. Specifically, to find the fuel required for a module, **take its mass, divide by three, round down, and subtract 2.**

For example:
- For a mass of 12, divide by 3 and round down to get 4, then subtract 2 to get 2.
- For a mass of 14, dividing by 3 and rounding down still yields 4, so the fuel required is also 2.
- For a mass of 1969, the fuel required is 654.
- For a mass of 100756, the fuel required is 33583.

The Fuel Counter-Upper needs to know the total fuel requirement. To find it, individually calculate the fuel needed for the mass of each module (your puzzle input), then add together all the fuel values.

What is the sum of the fuel requirements for all of the modules on your spacecraft?

### Acquire data

In [1]:
# data wrangling
import pandas as pd
import numpy as np
import requests

Copied data from: https://adventofcode.com/2019/day/1/input

In [2]:
# read copied data into a df
df = pd.read_clipboard(header=None, names=["mass"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
mass    100 non-null int64
dtypes: int64(1)
memory usage: 928.0 bytes

In [4]:
df

      mass
0    83326
1    84939
2   135378
3   105431
4   119144
..     ...
95  114463
96  147536
97   67786
98  139193
99  112322

[100 rows x 1 columns]

### Derive fuel needed for each module based on requirements

In [5]:
# create a new fuel column which divides the mass by three, rounds down, and then subtracts two 
df["fuel"] = df.mass//3 - 2
df

      mass   fuel
0    83326  27773
1    84939  28311
2   135378  45124
3   105431  35141
4   119144  39712
..     ...    ...
95  114463  38152
96  147536  49176
97   67786  22593
98  139193  46395
99  112322  37438

[100 rows x 2 columns]

### Calculate sum

In [6]:
df.fuel.sum()

3408471

## Part Two

During the second Go / No Go poll, the Elf in charge of the Rocket Equation Double-Checker stops the launch sequence. Apparently, you forgot to include additional fuel for the fuel you just added.

Fuel itself requires fuel just like a module - take its mass, divide by three, round down, and subtract 2. However, that fuel also requires fuel, and that fuel requires fuel, and so on. Any mass that would require negative fuel should instead be treated as if it requires zero fuel; the remaining mass, if any, is instead handled by wishing really hard, which has no mass and is outside the scope of this calculation.

So, for each module mass, **calculate its fuel and add it to the total. Then, treat the fuel amount you just calculated as the input mass and repeat the process, continuing until a fuel requirement is zero or negative.** 

For example:
- A module of mass 14 requires 2 fuel. This fuel requires no further fuel (2 divided by 3 and rounded down is 0, which would call for a negative fuel), so the total fuel required is still just 2.
- At first, a module of mass 1969 requires 654 fuel. Then, this fuel requires 216 more fuel (654 / 3 - 2). 216 then requires 70 more fuel, which requires 21 fuel, which requires 5 fuel, which requires no further fuel. So, the total fuel required for a module of mass 1969 is 654 + 216 + 70 + 21 + 5 = 966.
- The fuel required by a module of mass 100756 and its fuel is: 33583 + 11192 + 3728 + 1240 + 411 + 135 + 43 + 12 + 2 = 50346.

What is the sum of the fuel requirements for all of the modules on your spacecraft when also taking into account the mass of the added fuel? (Calculate the fuel requirements for each module separately, then add them all up at the end.)

### Testing logic

In [7]:
14//3 - 2

2

In [8]:
1969//3 - 2

654

In [9]:
654//3 - 2

216

In [10]:
216//3 - 2

70

In [11]:
70//3 - 2

21

In [12]:
21//3 - 2

5

In [13]:
5//3 - 2

-1

In [14]:
# mass = 1969
mass = 100756
total_fuel = 0

In [15]:
# create a loop that keeps calculating fuel needed until no more fuel is needed
while mass > 0:
    mass = mass // 3 - 2
    if mass > 0:
        total_fuel += mass
print(total_fuel)

50346

### Apply logic to dataframe for easy manipulation

In [16]:
# create function using above loop
def calculate_fuel(mass):
    total_fuel = 0 
    while mass > 0:
        mass = mass // 3 - 2
        if mass > 0:
            total_fuel += mass
    return total_fuel

In [17]:
# test function
calculate_fuel(100756)

50346

In [18]:
# create new column that applies calculate_fuel function to the mass
df["fuel_fuel"] = df.mass.apply(calculate_fuel)

In [19]:
df

      mass   fuel  fuel_fuel
0    83326  27773      41631
1    84939  28311      42438
2   135378  45124      67656
3   105431  35141      52682
4   119144  39712      59539
..     ...    ...        ...
95  114463  38152      57200
96  147536  49176      73735
97   67786  22593      33860
98  139193  46395      69563
99  112322  37438      56129

[100 rows x 3 columns]

### Calculate total fuel

In [20]:
df.fuel_fuel.sum()

5109803

## Done!